/* stylelint-disable at-rule-no-unknown */
@primaryColor: #1890ff;

@siderBarWidth: 200px;
@headerBarHeight: 60px;

@mainBackgroundColor: #f2f3f5;
@tagViewBgColor: #fff;
@tagActiveBgColor: #f2f3f5;
@tagActiveTextColor: #1890ff;
@tagViewHeight: 40px;

@menuBgColor: #114ba3;
@menuTextColor: #e8f7ff;
@menuActiveTextColor: #fff;
@menuActiveBgColor: #206ccf;
@menuHoverBgColor: #206ccf;

@iconDefaultColor: #333;

:export {
  siderBarWidth: @siderBarWidth;
  headerBarHeight: @headerBarHeight;
  mainBackgroundColor: @mainBackgroundColor;
  tagViewBgColor: @tagViewBgColor;
  tagActiveBgColor: @tagActiveBgColor;
  tagActiveTextColor: @tagActiveTextColor;
  tagViewHeight: @tagViewHeight;
  menuBgColor: @menuBgColor;
  menuTextColor: @menuTextColor;
  menuActiveTextColor: @menuActiveTextColor;
  menuActiveBgColor: @menuActiveBgColor;
  menuHoverBgColor: @menuHoverBgColor;
  iconDefaultColor: @iconDefaultColor;
}
